##
# Build-time variables
##

CORE_TAG=v2.5.33
# CORE_FLAVOR=standard
MODULES_TAG=v3.0.6
# MODULES_FLAVOR=standard
GUARD_TAG=latest
PHP_VER=8.1

# PYPI_* vars take precedence over MISP's
# PYPI_REDIS_VERSION==5.0.*
# PYPI_LIEF_VERSION>=0.13.1
# PYPI_PYDEEP2_VERSION==0.5.*
# PYPI_PYTHON_MAGIC_VERSION==0.4.*
# PYPI_MISP_LIB_STIX2_VERSION==3.0.*
# PYPI_MAEC_VERSION==4.1.*
# PYPI_MIXBOX_VERSION==1.0.*
# PYPI_CYBOX_VERSION==2.1.*
# PYPI_PYMISP_VERSION==2.5.9
# PYPI_MISP_STIX_VERSION==2.4.194
# PYPI_TAXII2_CLIENT==2.3.0
PYPI_SETUPTOOLS_VERSION==80.3.1
PYPI_SUPERVISOR_VERSION==4.2.5

CORE_COMMIT=latest
# CORE_COMMIT=0bba3f5
# MODULES_COMMIT takes precedence over MODULES_TAG
# MODULES_COMMIT=de69ae3
# GUARD_COMMIT takes precedence over GUARD_TAG
# GUARD_COMMIT=370b043

##
# Run-time variables
##

# CORE_RUNNING_TAG=latest
# MODULES_RUNNING_TAG=latest
# GUARD_RUNNING_TAG=latest

# optional: use a registry mirror for docker images
# REGISTRY_MIRROR_URL=

# Admin account configuration
ADMIN_EMAIL=
ADMIN_ORG=
ADMIN_ORG_UUID=
ADMIN_KEY=
ADMIN_PASSWORD=CHANGE_ME

# GPG configuration
GPG_PASSPHRASE=

# Cron configuration
CRON_USER_ID=

# Base URL for MISP
BASE_URL=https://localhost:9003

# CORE_HTTP_PORT=
# CORE_HTTPS_PORT=

# Store settings in DB except those that must stay in config.php
ENABLE_DB_SETTINGS=

# Encryption key
ENCRYPTION_KEY=

# Enable background updates
ENABLE_BACKGROUND_UPDATES=

# Attachment storage directory
ATTACHMENTS_DIR=

# SMTP configuration
# SMTP_FQDN=
# SMTP_PORT=

SMARTHOST_ADDRESS=
SMARTHOST_PORT=
SMARTHOST_USER=
SMARTHOST_PASSWORD=
SMARTHOST_ALIASES=

# AWS SES SMTP relay settings
# SES_USER=
# SES_PASSWORD=
# SES_REGION=
# SES_PORT=

# Synchronisation servers
SYNCSERVERS=
SYNCSERVERS_1_URL=
SYNCSERVERS_1_NAME=
SYNCSERVERS_1_UUID=
SYNCSERVERS_1_KEY=
SYNCSERVERS_1_PULL_RULES=

# External supervisord configuration
# SUPERVISOR_HOST=
# SUPERVISOR_USERNAME=
# SUPERVISOR_PASSWORD=

# MySQL configuration
# MYSQL_HOST=
# MYSQL_PORT=
# MYSQL_USER=
# MYSQL_PASSWORD=
# MYSQL_ROOT_PASSWORD=
# MYSQL_DATABASE=

# Redis configuration
# REDIS_HOST=
# REDIS_PORT=
# REDIS_PASSWORD=
# ENABLE_REDIS_EMPTY_PASSWORD=false

# Disable SSL redirect (useful for local lab environments)
DISABLE_SSL_REDIRECT=true

# Disable CA refresh
# DISABLE_CA_REFRESH=true

# Enable debugging
# ALWAYS SET TO 0 IN PRODUCTION
# DEBUG=0